# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Tables Folder
Database System/tables/tables_1.0/
Database System/data
Database System/results

#Text Files, Gnuplot Files and CSV-Files
*.txt
*.plt
*.csv