# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#Executable Main
DatabaseSystem/src/main/main

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Tables Folder
DatabaseSystem/tables/tables_1.0/
DatabaseSystem/data/
DatabaseSystem/results/

#Other folder
DatabaseSystem/util/gnuplot-iostream/
.vscode

#Text Files, Gnuplot Files and CSV-Files
*.txt
*.plt
*.csv